{% extends 'e_newline/base.html' %}




{% block content %}
<h1> Video for {{ d_name }} </h1><br><br><br>

<center>



	<object style="height: 390px; width: 640px"><param name="movie" value="http://www.youtube.com/v/{{ vid_id }}?version=3"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><embed src="http://www.youtube.com/v/{{ vid_id }}?version=3" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="640" height="390"></object>
</center>
{% endblock %}



